.full-height{
  height: 100% !important;
}

.header-height{
  height: 10% !important;
  min-height: 70px;
}

.footer-height{
  height: 10% !important;
  min-height: 100px;
}

.overlay-footer{
  z-index: 1001;
}

.content-height{
  height: 80% !important;
  min-height: 500px !important;
  position: relative;
}

#app{
  height: 100% !important;
}
